/* LoginPage.css */

.container {
  background-color: #13c8b5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.login{
  flex-direction: column;
}

.logo{
  width: 160px;
}